<h1>Car#new_car</h1>
<p>Find me in app/views/car/new_car.html.erb</p>

<!-- As an internet user, I can visit a page that shows Welcome to the Car Simulator -->
Welcome to the Car Simulator
<!--
when I visit the status page for a selected car, it shows whether the lights on the car is on or off. They start off. -->
<form>
  <input type="text" name="make_and_year"/>
  <input type="submit" name="Simulate Car"/>
</form>

<!-- when I visit the status page, I can turn the lights on using a button that toggles between show On and Off. -->
